body{
    background-color: black;
}

.heading{
    text-align: center;
    background-color: white;
    color: black;
}

img{
    height: 450px;
    width: 300px;
    border-radius: 10px;
}

.first{
    display: inline-block;
    border: 1px solid black;
    margin-left: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    transition: transform 0.4s ease ,box-shadow 0.4s ease;
}

.first:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}


.main1{
    padding-left: 40px;
    margin-bottom: 50px;
    margin-top: 50PX;
}

a{
    text-decoration: none;
    color: white;
}


h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
}