body{
    background-color: black;
}

.heading{
    text-align: center;
    background-color: white;
    color: black;
}

img{
    height: 450px;
    width: 300px;
    border-radius: 10px;
}

.first{
    display: inline-block;
    border: 2px solid black;
    margin-left: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.main1{
    padding-left: 25px;
    margin-bottom: 50px;
    margin-top: 50PX;
}

a{
    text-decoration: none;
    color: white;
}

